# Environment Variables Example

# Global Settings
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=kodnest
DB_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Service Ports
PORT_GATEWAY=8000
PORT_AUTH=8001
